Appendix.aux
SeniorLatex.aux
Chapter1.aux
Chapter2.aux
Chapter3.aux
Chapter4.aux
Chapter5.aux

SeniorLatex.log
SeniorLatex.fdb_latexmk
SeniorLatex.lof
SeniorLatex.lot
SeniorLatex.out
SeniorLatex.toc
SeniorLatex.xdv
SeniorLatex.synctex.gz